.header {
    background-color: #b21368;
    width: auto;
    height: 100px;
}

.header h1 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

@media (max-width: 1440px) {
    .header {
        height: 100px;
        width: 150%;
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }
    
}
