.quadrado {
    width: auto;
    height: 700px;
    background-color: rgb(194, 38, 38);
    margin: 10px;
    display: flex;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: #fdb750;
    width: 1000px;
    height: 300px;
    margin: 50px;
    border-radius: 20px;
}

.retangulo {
    display: flex;
    width: 700px;
    height: 85%;
    background-color: rosybrown;
    margin-top: 50px;
    border-radius: 50px;
    align-items: center;
}

.retangulo img {
    width: 200%;
    height: 100%;
}